/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header,
section,
aside,
nav,
footer {
  padding: 20px;
}

/* header and footer */

header,
footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

@font-face {
  font-family: "Aller";
  src: url("fonts/Aller.woff2") format("woff2"),
    url("fonts/Aller.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "LMRoman10";
  src: url("fonts/LMRoman10-Regular.woff2") format("woff2"),
    url("fonts/LMRoman10-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 10px;
}

/* HEADERS */

h1,
h2 {
  font-family: "LMRoman10", sans-serif;
  font-size: 3rem;
  letter-spacing: 0.3rem;
}

section > h1 + p,
section > h2 + p {
  text-indent: 20px;
}

header {
  text-align: center;
}

/*BODY TEXT */

p,
ul,
ol {
  font-family: "aller", sans-serif;
  font-size: 1.2rem;
  line-height: 1.8;
  letter-spacing: 0.05rem;
}

/* LINKS */

a:link {
  color: #a66;
  text-decoration: underline;
}
a:visited {
  color: #cc9999;
}
