/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 90%;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Layout */

header {
  text-align: center;
  width: 100%;
  padding: 20px;
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

section,
aside {
  flex: 1;
  min-width: 300px;
  padding: 50px;
}

nav {
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: block;
  margin-right: 100px;
}

nav a {
  font-size: 1.5rem;
  text-decoration: none;
}
nav a:link,
nav a:visited {
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 10px;
  width: 100%;
  clear: both;
}

/* header and footer */

header,
footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

@font-face {
  font-family: "Aller";
  src: url("fonts/Aller.woff2") format("woff2"),
    url("fonts/Aller.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "LMRoman10";
  src: url("fonts/LMRoman10-Regular.woff2") format("woff2"),
    url("fonts/LMRoman10-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 10px;
}

/* NAV */

/* HEADERS */

h1,
h2 {
  font-family: "LMRoman10", sans-serif;
  font-size: 3rem;
  letter-spacing: 0.3rem;
}

section > h1 + p,
section > h2 + p {
  text-indent: 20px;
}

header {
  text-align: center;
}

/*BODY TEXT */

p,
ul,
ol {
  font-family: "aller", sans-serif;
  font-size: 1.2rem;
  line-height: 1.8;
  letter-spacing: 0.05rem;
}

.tick-list {
  list-style: none;
  padding-left: 1;
}

.tick-list li {
  position: relative;
  padding-left: 30px;
}

.tick-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15%;
  height: 15px;
  background-image: url("images/check-circle.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* LINKS */

a:link {
  color: #a66;
  text-decoration: underline;
}
a:visited {
  color: #cc9999;
}

a:hover,
a:focus {
  color: #a66;
  text-decoration: none;
}

a:active {
  color: #a66;
  text-decoration: underline;
}

/* EXTERNAL LINKS */

a[href^="http"]:not([href*="index.html"])::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url("images/external-link-52.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 5px;
  vertical-align: middle;
}

@media (max-width: 768px) {
  h1,
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  section,
  aside {
    width: 100%;
    padding: 20px;
  }
}

@media (max-width: 600px) {
  body {
    width: 100%;
    padding: 10px;
  }
  nav ul {
    flex-direction: column;
    padding: 0;
  }
}
